<h3>Nuevo Contrato</h3>  
<hr>

<%= simple_form_for @contract do |f| %>
  <%= f.input :client_name  %>
  <% @weekdays.each do |weekday| %>
    <%= simple_fields_for :weekday_setup do |f| %>      
      <%= f.label weekday.weekday %>
      <div-d class="flex">
        <%= f.input :start_of_monitoring, as: :time, html5: true %>
        <%= f.input :end_of_monitoring, as: :time, html5: true %>
      </div-d>       
    <% end %>
  <% end %>
  
  <%= f.submit "Crear", class:"btn btn-primary", id:"btn", data:{confirm: "Grabar Alta"} %>
<% end %>


