<style>
  th, td{
    font-size: 14px;
  }
</style>
<h3>Contratos</h3>
<hr>
<div class="container">  
  <div class="row">
    <div class="col-12 col-md-10">    
      <div class=" my-4">   
        <div class= "bg-white p-4">     
          <table class="table table-hover">
            <thead>
              <tr>
                <div class="d-flex justify-content-between">
                  <h5 class="ml-3 mr-5 mt-2"><strong><%= @contract.id %> - <%= @contract.client_name.titleize %></strong></h5>                 
                </div>               
              </tr>
              <tr>
                <td class="border-0"><strong>Desde: </strong><%= @contract.start_date.strftime('%d/%m/%Y') %></td>
              </tr>
              <tr>
                <td class="border-0"><strong>Hasta: </strong><%= @contract.end_date.strftime('%d/%m/%Y') %></td>
              </tr>
              <tr class="liquidaciones">                
                <th>Dia</th>    
                <th>Hora Inicio</th>              
                <th>Hora Fin</th>
                <th>Total de horas</th>
                <th></th>                
              </tr>
            </thead>
            <tbody>
              <% @week_days = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sabado", "Domingo"] %>
              <%= render 'contracts/partials/monday_info' %>            
              <%= render 'contracts/partials/tuesday_info' %>
              <%= render 'contracts/partials/wednesday_info' %>
              <%= render 'contracts/partials/thursday_info' %>
              <%= render 'contracts/partials/friday_info' %>
              <%= render 'contracts/partials/saturday_info' %>
              <%= render 'contracts/partials/sunday_info' %>               
              <tr>
                <td colspan=1><strong>Total horas semanal</strong></td>                
                <td></td>
                <td></td>
                <td class="text-center"><strong><%=@contract.total_hours_per_week %></strong></td>
                <td></td>
              </tr>    
              <tr>
                <td colspan=1><strong>Importe total del contrato</strong></td>                
                <td colspan=2><small><%=number_to_currency(@contract.price_per_hour)%> x <%=@contract.monitoring_shifts.count %> hs totales</small></td>
                
                <td class="text-center"><strong><%=number_to_currency(@contract.monitoring_shifts.count * @contract.price_per_hour) %></strong></td>
                <td></td>
              </tr>                
            </tbody>         
          </table>   
        </div>
      </div>
      <hr>  
      <%= link_to "Volver", contracts_path %>        
    </div>
    
  </div>    
</div>
