<style>
  th, td{
    font-size: 14px;
  }
</style>
<h3>Contratos</h3>
<hr>
<div class="container">  
  <div class="row">
    <div class="col-12 col-md-7">    
      <div class=" my-4">   
        <div class= "bg-white p-4">     
          <table class="table table-hover">
            <thead>
              <tr>
                <div class="d-flex justify-content-between">
                  <h5 class="ml-3 mr-5 mt-2"><strong><%= @contract.id %> - <%= @contract.client_name.titleize %></strong></h5>
                  <%#=  render "contracts/partials/modal-create-price-courier" %>    
                </div>               
              </tr>
              <tr class="liquidaciones">                
                <th>Dia</th>    
                <th>Hora Inicio</th>              
                <th>Hora Fin</th>
                <th>Total de horas</th>
                <th></th>                
              </tr>
            </thead>
            <tbody>
              <% @contract.weekday_setups.each do |weekday_setup| %>              
                <tr class="liquidaciones">                       
                  <td><%= weekday_setup.weekday.weekday.titleize %></td>           
                  <td><%= weekday_setup.start_of_monitoring.strftime('%R Hs') %></td>    
                  <td><%= (weekday_setup.end_of_monitoring.strftime('%R').last(2) == "59" ? weekday_setup.end_of_monitoring + 60 : weekday_setup.end_of_monitoring).strftime('%R Hs') %></td>
                  <td class="text-center">
                    <%= (weekday_setup.end_of_monitoring.to_time.to_i - weekday_setup.start_of_monitoring.to_time.to_i).abs/60/60  %>           
                  </td>        
                  <td>
                    <!-- Button trigger modal -->   
                    <% if current_user.admin? %>
                      <i class="far fa-edit" data-bs-toggle="modal" data-bs-target="#editModal-<%= weekday_setup.id %>"></i>
                    <% end %>                 
                    
                    <!-- Modal -->
                    <div class="modal fade" id="editModal-<%= weekday_setup.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar Alta</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <%= simple_form_for [@contract, weekday_setup], method: :PATCH do |f|  %>
                            <div class="modal-body">        
                              <%= f.input :start_of_monitoring, as: :time, html5: true %>
                              <%= f.input :end_of_monitoring, as: :time, html5: true %> 
                            </div>  
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              <%= submit_tag "Grabar", class:"btn btn-primary" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>                             
                  </td>           
                </tr>                   
              <% end %> 
              <tr>
                <td colspan=1><strong>Total horas semanal</strong></td>
                <td></td>
                <td></td>
                <td class="text-center"><strong><%=@total_hs.sum %></strong></td>
                <td></td>
              </tr>                
            </tbody>         
          </table>   
        </div>
      </div>
      <hr>  
      <%= link_to "Volver", contracts_path %>        
    </div>
    
  </div>    
</div>
