<tr class="liquidaciones">                       
  <td><%= @week_days.fifth %></td>           
  <td><%= @contract.friday_start_hour.strftime('%R Hs') %></td>    
  <td><%= (@contract.friday_end_hour.strftime('%R').last(2) == "59" ? @contract.friday_end_hour + 60 : @contract.friday_end_hour).strftime('%R Hs') %></td>
  <td class="text-center">
    <%= @contract.total_hour_friday %>           
  </td>        
  <td>
    <!-- Button trigger modal -->   
    <% if current_user.admin? %>
      <i class="far fa-edit" data-bs-toggle="modal" data-bs-target="#editModal-<%= @contract.id %>"></i>
    <% end %>
    <%= render 'contracts/partials/modal_edit_contract' %>                                               
  </td>           
</tr>          