<!-- Modal -->
<div class="modal fade " id="modalNewContract" tabindex="-1" role="dialog" aria-labelledby="modalNewContractLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNewContractLabel">Nuevo Contrato</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @contract, method: :POST do |f|  %>
        <div class="modal-body"> 
           <%= f.input :client_name, label:"Nombre Cliente"  %>      
           <hr> 
          <div class="d-md-flex">
            <%= f.input :start_date, as: :date, html5: true, label:"Fecha inicio" %>
            <%= f.input :end_date, as: :date, html5: true, label: "Fecha finalización" %>            
          </div>        
          <%= f.input :price_per_hour, label:"Precio por hora (USD)", placeholder:"$" %>
          <hr>
          <div class="d-md-flex">
            <%= f.input :monday_start_hour, label:"Lunes hora inicio", as: :time, html5: true, class: "ml-4" %>
            <%= f.input :monday_end_hour, label:"Lunes hora fin", as: :time, html5: true, class: "ml-4" %>          
          </div>
          <div class="d-md-flex">
            <%= f.input :tuesday_start_hour, label:"Martes hora inicio", as: :time, html5: true, class: "ml-4" %>
            <%= f.input :tuesday_end_hour, label:"Martes hora fin", as: :time, html5: true, class: "ml-4" %>
          </div>
          <div class="d-md-flex">
            <%= f.input :wednesday_start_hour, label:"Miércoles hora inicio", as: :time, html5: true, class: "ml-4" %>
            <%= f.input :wednesday_end_hour, label:"Miércoles hora fin", as: :time, html5: true, class: "ml-4" %>
          </div>
          <div class="d-md-flex">
            <%= f.input :thursday_start_hour, label:"Jueves hora inicio", as: :time, html5: true, class: "ml-4" %>
            <%= f.input :thursday_end_hour, label:"Jueves hora fin", as: :time, html5: true, class: "ml-4" %>
          </div>
          <div class="d-md-flex">
            <%= f.input :friday_start_hour, label:"Viernes hora inicio", as: :time, html5: true, class: "ml-4" %>
            <%= f.input :friday_end_hour, label:"Viernes hora fin", as: :time, html5: true, class: "ml-4" %>
          </div>
          <div class="d-md-flex">
            <%= f.input :saturday_start_hour, label:"Sábado hora inicio", as: :time, html5: true, class: "ml-4" %>
            <%= f.input :saturday_end_hour, label:"Sábado hora fin", as: :time, html5: true, class: "ml-4" %>
          </div> 
          <div class="d-md-flex">
            <%= f.input :sunday_start_hour, label:"Domingo hora inicio", as: :time, html5: true, class: "ml-4" %>
            <%= f.input :sunday_end_hour, label:"Domingo hora fin", as: :time, html5: true, class: "ml-4" %>
          </div>        
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <%= submit_tag "Grabar", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>