<style>
  th, td{
    font-size: 12px; 

    <% User.where(dev: true).each do |user| %>  
      <%= "#user-#{user.id}{background-color: red!important;}" %>     
    <% end %>
  }  
</style>
<h3>Contratos</h3>
<hr>
<div class="container">  
  <div class="row">
    <div class="col-12 col-md-12">    
      <div class=" my-4">   
        <div class="container p-0">
          <%= render 'monitoring_shifts/partials/search_form' %>         
        </div>
        <div class= "bg-white p-4">
          <%= render 'monitoring_shifts/partials/headers_calendar_confirmed' %>          
          <div class="container">                                    
            <div class="row mt-3">
              <div class="col-12 col-md-6 ">
                <% @dates.uniq.sort { |a, b| a <=> b }.each do |day| %>
                  <% @date = day %>                                     
                  <%= render '/monitoring_shifts/partials/confirmed_table', day: day %>
                <% end %>                  
              </div>                           
              <div class="col-12 col-md-6 ">                  
                <% @dates_weekend.uniq.sort { |a, b| a <=> b }.each do |day| %>
                  <% @date = day %>                                     
                  <%= render '/monitoring_shifts/partials/confirmed_table', day: day %>                      
                <% end %>                  
              </div>                             
            </div>
          </div>             
        </div>          
      </div>
      <hr>  
      <%= link_to "Volver", contracts_path %>        
    </div>    
  </div>    
</div>

<script>
  const userTag = document.querySelectorAll(".user-color")
  userTag.forEach(element => {
    element.style.backgroundColor = element.dataset.color    
  });

</script>