<style>
  th, td{
    font-size: 12px;
  }

  th #user{
    margin: 0px 4px;
  }
</style>
<h3>Contratos</h3>
<hr>
<div class="container">  
  <div class="row">
    <div class="col-12 col-md-12">    
      <div class=" my-4">   
        <div class="container p-0">            
          <%= form_tag monitoring_shifts_path, method: :get do %>
            <div class="search-form-control form-group">   
              <%= select_tag(:query, options_for_select(@weeks.uniq),
                class: "form-select string required ",
                id: "search_query")                         
              %>  
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i> 
              </button>                
            </div>
            <% if params[:query].present? %>
              <p class="text-right mb-2"><%#= link_to "(#{@contracts.count}) Limpiar filtro", contracts_path, class:"text-decoration-none" %></p>
            <% end %>    
          <% end %>  
        </div>
        <div class= "bg-white p-4">
          <div class="d-flex justify-content-between">
            <h5 class="ml-3 mr-5 my-2"><strong>Semana <%= params[:query] %> -  del <%#= @monitoring_shifts.first.date.strftime('%A, %d de %B de %Y') %> a <%#= @monitoring_shifts.last.date.strftime('%A, %d de %B de %Y')  %></strong></h5>             
          </div>
          <%= simple_form_for @monitoring_shift, url: tildar_todas_monitoring_shifts_path, remote: true, method: :patch do |f| %>
            <div class="container">
              <%= f.submit "Grabar", class:"btn btn-primary my-3" %>                            
              <div class="row">
                <div class="col-12 col-md-6 ">
                  <% @dates.uniq.sort { |a, b| a <=> b }.each do |day| %>
                    <% @date = day %>                                     
                    <%= render '/monitoring_shifts/partials/monitoring_table', day: day %>
                  <% end %>                  
                </div>                           
                <div class="col-12 col-md-6 ">                  
                  <% @dates_weekend.uniq.sort { |a, b| a <=> b }.each do |day| %>
                    <% @date = day %>                                     
                    <%= render '/monitoring_shifts/partials/monitoring_table', day: day %>                      
                  <% end %>                  
                </div>                             
                </div>
              </div>             
            </div>
          <% end %>
      </div>
      <hr>  
      <%= link_to "Volver", contracts_path %>        
    </div>
    
  </div>    
</div>

<script>
  const a = document.querySelectorAll("input")
 
    a.forEach((input) =>{
    input.addEventListener('click', (event) =>{
      const inputId = input.dataset.id
      const inputAvailable = input.dataset.available
      console.log(inputId)
      console.log(inputAvailable)
      const monitoringShift = {
        id: inputId,
        available: inputAvailable        
      }
      fetch (`https://monitoring_shifts/${inputId}`,{
        method: "PATCH",
        headers: {"Content-Type":"application/json",
        Authorization: "vtSPjc6tPgGNpzPyc3z7"},
        body: JSON.stringify(monitoringShift)
      })
      
       
    })
    
  });

 
 
</script>




