<!-- Modal -->
<div class="modal fade" id="editModal-<%= shift_info.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asignar Dev</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for shift_info, method: :PATCH do |f|  %>                    
        <div class="modal-body d-flex pt-1 pb-1 pl-1 mb-0">
        <% if shift_info.user_id != nil %>
        <% @users = User.all.joins(:user_monitoring_shifts).where(:user_monitoring_shifts => {:available => true, monitoring_shift_id: shift_info.id}) %>
          <%= f.input :user_id, collection: @users,label_method: :name, value_method: :id, label: "Dev", placeholder: "", class:"w-100" %>

        <% else %>
          <%= f.input :user_id, collection: User.where(dev: true),label_method: :name, value_method: :id, label: "Dev", placeholder: "", class:"w-100" %>           
        <% end %> 

                                  
        </div>                    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <%= submit_tag "Asignar", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>  