<% if current_user.admin? %>  
  <table class="table table-hover">    
    <thead>      
      <tr>       
        <th scope="col"><%= day.strftime('%A, %d de %B de %Y') %> </th>
        <% User.where(dev: true).order(:id).each do |user| %>
          <th scope="col" class="text-center"><%= user.name %></td>
        <% end %>          
      </tr>
    </thead>          
    <tbody>                                           
      <% @monitoring_shifts.where(date: @date).order(:id).each do |shift_info| %> 
        <tr>                         
          <td>
            <%= shift_info.start_hour.strftime('%R Hs') %> - <%= shift_info.end_hour.strftime('%R Hs') %>
          </td>                
          <% User.where(dev: true).order(:id).each do |user| %>
            <% @user_monitoring_shift = UserMonitoringShift.where(user_id: user.id, monitoring_shift_id: shift_info.id).first %>                
            <% if request.path == monitoring_shifts_path  %> 
              <td class="text-center">
                <div class="form-check">
                  <% if @user_monitoring_shift.available? %>
                    <i class="fas fa-check-circle text-center" style="color: green; opacity: 0.6;"></i>
                  <% else %>
                    <i class="fas fa-times-circle" style="color: red; opacity: 0.6;"></i>                                                                    
                  <% end %>                                  
                </div>                      
              </td>                      
            <% else   %>
              <% if @user_monitoring_shift.available? %>
                <td class="text-center" ><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id, value: "1" %></td>    
                  <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>                                   
              <% else %>
                <td class="text-center"><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id %></td>  
                <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>                
              <% end %>
            <% end %>               
          <% end %>                
        </tr> 
      <% end %>                               
    </tbody>         
  </table> 
<% else %> 
  <table class="table table-hover"> 
    <thead>
      <tr>
        <th><%= day.strftime('%A, %d de %B de %Y') %></th>
        <th class="text-center">Disponibilidad</th>    
      </tr>   
    </thead>             
    <tbody>                                           
      <%  @monitoring_shifts.where(date: @date).order(:id).each do |shift_info| %> 
        <tr>                         
          <td><%= shift_info.start_hour.strftime('%R Hs') %> - <%= shift_info.end_hour.strftime('%R Hs') %></td>               
          
          <% @user_monitoring_shift = UserMonitoringShift.where(user_id: current_user.id, monitoring_shift_id: shift_info.id).first %>                  
          
          <% if request.path == monitoring_shifts_path  %> 
            <td class="text-center">              
              <% if @user_monitoring_shift.available? %>
                <i class="fas fa-check-circle text-center" style="color: green; opacity: 0.6;"></i>
              <% else %>
                <i class="fas fa-times-circle" style="color: red; opacity: 0.6;"></i>                         
              <% end %>                         
            </td>            
          <% else   %>
            <% if @user_monitoring_shift.available? %>
              <td class="text-center"><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id, value: "1" %></td>
              <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>
            <% else %>
              <td class="text-center"><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id %></td>  
              <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>                 
            <% end %>   

          <% end %>                 
                        
        </tr> 
      <% end %>                               
    </tbody>         
  </table>   
      
    
<% end %>