<% if current_user.admin? %>
  <table>
    <thead>
      <tr>
        <th><%= day.strftime('%A, %d de %B de %Y') %></th>            
      </tr>
      <tr>
        <% if current_user.admin? %>
        <th>Horarios </th>
          <% User.where(dev: true).order(:id).each do |user| %>
            <td class="text-center"><p class="mx-3"><%= user.name %></p></td>
          <% end %>
        <% end %>  
      </tr>
      <table class="table table-hover">                 
        <tbody>                                           
          <% @monitoring_shifts.where(date: @date).order(:id).each do |shift_info| %> 
            <tr>                         
              <td>
                <%= shift_info.start_hour.strftime('%R Hs') %> - <%= shift_info.end_hour.strftime('%R Hs') %>
              </td>                
              <% User.where(dev: true).order(:id).each do |user| %>
                <% @user_monitoring_shift = UserMonitoringShift.where(user_id: user.id, monitoring_shift_id: shift_info.id).first %>                
                <% if request.path == monitoring_shifts_path  %> 
                  <td>
                    <div class="form-check">
                      <% if @user_monitoring_shift.available? %>
                        <i class="fas fa-check-circle text-center" style="color: green; opacity: 0.6;"></i>                                                                  
                      <% end %>                                  
                    </div>                      
                  </td>                      
                <% else   %>
                  <% if @user_monitoring_shift.available? %>
                    <td class="text-left mx-2"><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id, value: "1" %></td>    
                      <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>                                   
                  <% else %>
                    <td class="text-left mx-2"><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id %></td>  
                    <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>                
                  <% end %>
                <% end %>               
              <% end %>                
            </tr> 
          <% end %>                               
        </tbody>         
      </table>   
    </thead>   
  </table>  


<% else %>
  <table>
    <thead>
      <tr>
        <th><%= day.strftime('%A, %d de %B de %Y') %></th>
        <% if current_user.admin? %>
          <% User.where(admin: false).each do |user| %>
            <th><%= user.name %></th>
          <% end %>       
        <% end %>      
      </tr>
      <table class="table table-hover">                 
        <tbody>                                           
          <%  @monitoring_shifts.where(date: @date).order(:id).each do |shift_info| %> 
            <tr class="liquidaciones">                         
              <td><%= shift_info.start_hour.strftime('%R Hs') %> - <%= shift_info.end_hour.strftime('%R Hs') %></td>                
              <td>
                <% @user_monitoring_shift = UserMonitoringShift.where(user_id: current_user.id, monitoring_shift_id: shift_info.id).first %>                  
              </td> 
              <% if request.path == monitoring_shifts_path  %> 
                <td>
                  <div class="form-check">
                    <% if @user_monitoring_shift.available? %>
                      <i class="fas fa-check-circle text-center" style="color: green; opacity: 0.6;"></i>
                    <% else %>
                                              
                    <% end %>                                  
                  </div>
                
                </td>
                
              <% else   %>
                <% if @user_monitoring_shift.available? %>
                  <td><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id, value: "1" %></td>
                  <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>
                <% else %>
                  <td><%= check_box_tag 'user_monitoring_shifts_ids[]', @user_monitoring_shift.id %></td>  
                  <%= hidden_field_tag "false[user_monitoring_shifts_ids][]", @user_monitoring_shift.id %>                 
                <% end %>   

              <% end %>                 
                           
            </tr> 
          <% end %>                               
        </tbody>         
      </table>   
    </thead>   
  </table>  
<% end %>